.points-over-time-chart {
    height: 500px;
}

.fails-vs-succeeds-chart {
    max-height: 300px;
}

.categories-per-score-chart {
    max-height: 300px;
}

.challenges-complete-chart {
    height: 200px;
}

/* Styling for completed challenges */
.completed-challenge {
    background-color: #047857; /* Tailwind green-700 */
}

.completed-challenge:hover {
    background-color: #065F46; /* Darker green on hover (green-800) */
}