.points-over-time-chart {
    height: 500px;
}

.fails-vs-succeeds-chart {
    max-height: 300px;
}

.categories-per-score-chart {
    max-height: 300px;
}

.challenges-complete-chart {
    height: 500px;
}