{% extends "base.html" %}
{% block head %}
{% endblock %}
{% block content %}
    <h1 class="text-3xl font-bold mb-6 text-gray-100">Scoreboard</h1>

    <div class="bg-gray-800 p-6 rounded-lg shadow-lg mb-8 h-96">
        <canvas id="scoreboardChart"></canvas>
    </div>

    <div class="bg-gray-800 p-6 rounded-lg shadow-lg">
        <h2 class="text-2xl font-semibold mb-4 text-gray-200">All Players Ranked</h2>
        <table class="min-w-full divide-y divide-gray-700" id="playerRankings">
            <thead class="bg-gray-700">
                <tr>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-300 uppercase tracking-wider">Rank</th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-300 uppercase tracking-wider">Username</th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-300 uppercase tracking-wider">Score</th>
                </tr>
            </thead>
            <tbody class="bg-gray-800 divide-y divide-gray-700">
                <!-- Player rows will be inserted here by JavaScript -->
            </tbody>
        </table>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/luxon@3.x/build/global/luxon.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon@1.x/dist/chartjs-adapter-luxon.min.js"></script>
    <script src="{{ url_for('static', filename='js/scoreboard_graph.js') }}"></script>
{% endblock content %}